
{% extends 'madrasa/adminbase.html' %}
{% load static %}
{% block content %}
<div  class="jumbotron" id= 'test'>


  <div class="row ">
    <div class="col">
   
      <h2 style="color:aliceblue; text-align:  center;">ADMIN PORTAL</h2>
    </div>
  </div>
      <div class="row d-flex justify-content-center" >
        <div >
      
   
    
  </div>
      </div>
  </div>
  </div>

<div class="container">
    <div class="row">
      <div class="col text-center">
       
        <a  href="{% url 'home'%}"><button style="margin-bottom: 10px;"class="btn btn-outline-dark btn-lg btnwidth">Home Page</button></a>
      </div>
    </div>

    <div class="row" >
        <div class="col text-center">
<a href="{% url 'studentlist'%}"><button class="btn btn-outline-dark btn-lg btnwidth">VIEW STUDENTS</button></a>
<a href="{% url 'teacherlist'%}"><button class="btn btn-outline-dark btn-lg btnwidth">VIEW TEACHERS</button></a>
<a href="{% url 'classeslist'%}"><button class="btn btn-outline-dark btn-lg btnwidth">VIEW CLASSES</button></a>


</div>
</div>
</div>

{% endblock %}