
<!-- The mojority of the code on this page was implemented prior to the project and the author used this template to build on
Miah, M, 2021. GitHub - GitHub mase/2020/maktab:
Website for Madina Masjid Weekend Madrasa. [online] GitHub. 
Available at: <https://github.com/mase2020/maktab/> [Accessed 01 February 2022]. -->

<!-- template used from:
StyleShout. 2022. Kreative - Modern Free HTML Website Template for Agencies | Styleshout. [online]
Available at: <https://www.styleshout.com/free-templates/kreative/> 
[Accessed 24 May 2021]. -->

{% extends 'madrasa/home-page/base.html' %}
{% load static %}
{% block content %}
    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/quran.jpeg' %}" data-natural-width="3000" data-natural-height="2000">

        <div class="s-home__content">

            <div class="s-home__slider">

                <div class="s-home__slide s-home__slide--1">
                    <div class="row">
                        <div class="column large-12 s-home__slide-text">
                            <h2>
                            Welcome to  <span>Madina Masjid Weekend Madrasa</span>
                            Learn | Practice | Propogate
                            </h2>
                            <p>
                         
                            </p>
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->

                <div class="s-home__slide s-home__slide--2">
                    <div class="row">
                        <div class="column large-12 s-home__slider-text">
                        
                            <h2>
                                
                            Secure your child's place by <a href="{% url 'application_form'%}" target="_blank" >enrolling now</a> or 
                            <a href="#contact" title="">get in
                            touch</a> for further information.
                            </h2>
                            <p>
                            
                            </p>
                        </div>
                    </div>
                </div> <!-- end s-home__slide -->

            </div> <!-- end s-home__slider -->

        </div> <!-- end s-home__content -->

        <div class="s-home__nav-arrows">
            <div class="s-home__arrow-prev">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.707 17.293L8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z"/></svg>
            </div>
            <div class="s-home__arrow-next">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11.293 17.293l1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"/></svg>
            </div>
        </div> <!-- end s-home__nav-arrows -->
     
        <div class="s-home__line"></div>

    </section> <!-- end s-home -->


    <!-- services
    ================================================== -->
    <section id="syllabus" class="s-services target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Syllabus</h2>
                <p class="desc">Our syllabus.</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
                Our current syllabus comprises of a mixture of the  Safar Academy curriculum as well as material prepared by our own institution.
                The syllabus covers a range of topics which will strengthen your child's fundamental Islamic knowledge and in sha Allah make them a beacon of Islam. Topics range from Aqeedah, 
                Seerah, Fiqh, Salaah, Duas, Arabic, Qaaidah and Quran with Tajweed.
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row block-large-1-3 block-medium-1-2 block-tab-full services-list">

            <div class="column services-item" data-aos="fade-up">
                <h5>Qaaidah</h5>
                <p>
                    Children will start by identifying Arabic letters with the correct pronunciations. 
                    By the end of the Qaaidah, children should be able to read full sentences
                    in the Arabic language including excerpts from the Quran.
                </p>
            </div> <!-- end services-item -->

            <div class="column services-item" data-aos="fade-up">
                <h5>Quran with Tajweed</h5>
                <p>
                    Children will concentrate on becoming fluent in reciting the Quran with the correct tajweed. 
                    When a child is confident and is able to recite from anywhere in the Quran with 
                    the correct rules of tajweed and with good fluency, 
                    only then will they be able to proceed to hifzul-Quran(memorisation of the Quran).
                </p>
            </div> <!-- end services-item -->

            <div class="column services-item" data-aos="fade-up">
                <h5>Hifz</h5>
                <p>
                    Children will memorise portions of the Quran starting from Juz 30.
                    Hifz lessons will be divided into three portions;
                    1) New memorisation.
                    2) Current juz revision.
                    3) Revision.
                    The aim is to create Huffaz of the Quran who will become ambassadors of the religion of Islam.
                </p>
            </div> <!-- end services-item -->

            <div class="column services-item" data-aos="fade-up">
                <h5>Arabic Language</h5>
                <p>
                Children will learn the arabic language with qualified arabic speaking teachers.
                They will focus on the Easy Arabic Course from the Islamic University of Madina.
                </p>
            </div> <!-- end services-item -->

            <div class="column services-item" data-aos="fade-up">
                <h5>Duas/Surahs</h5>
                <p>
                    Children will learn their essential daily Duas.
                    The syllabus ranges from daily duas, duas of salah, janazah, gaining closenes to Allah, dhikr etc.
                    Children on Quran level will be memorising surahs alongside their Duas.
                </p>
            </div> <!-- end services-item -->

            <div class="column services-item" data-aos="fade-up">
                <h5>Islamic Studies</h5>
                <p>
                    This will cover various topics such as Fiqh, Aqeedah,
                     Stories of the Prophets and Islamic history. Children will be shown practical demonstrations of Salaah and other important aspects of Islam.
                </p>
            </div> <!-- end services-item -->

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- portfolio
    ================================================== -->
    <section id="courses" class="s-portfolio target-section">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Courses</h2>
                <p class="desc">Check out our latest courses.</p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
                We currently cater for childrens weekend sessions and weekly adults tajweed sessions.
                More courses for adults will be available soon in sha Allah.
                <span>For application forms, click on the desired course.</span>
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row block-large-1-2 block-medium-1-2 block-mob-full folio-list">

            <div class="column folio-item" data-aos="fade-up">
                <a href="#modal-01" class="folio-item__thumb" data-lity>
                    <img src="{% static 'images/portfolio/childrens.jpeg' %}" 
                     alt="">
               <span class="folio-item__text">
                   Childrens Madrasa
               </span>
           </a>
            </div> <!-- end folio-item -->
                 

            <div class="column folio-item" data-aos="fade-up">
                <a href="#modal-02" class="folio-item__thumb" data-lity>
                    <img src="{% static 'images/portfolio/adults.jpg' %}" 
               alt="">
               <span class="folio-item__text">
                   Adults
               </span>
                </a>
            </div> <!-- end folio-item -->
                 


        </div> <!-- end folio-list -->


        <!-- Modal Popup
        =========================================================== -->
        <div id="modal-01" class="modal-popup lity-hide">

            <img src="{% static 'images/portfolio/gallery/childrens.jpeg' %}" alt="" />

            <div class="modal-popup__desc">
                <h5>Childrens Madrasa</h5>
                <p>
                    Students are representatives of Madina Masjid Weekend Madrasa and therefore are expected to set a high standard of behaviour both inside and outside of the premises. Honesty and respect are highly valued and encouraged by us. Students, teachers, and parents should work together to encourage educational excellence and character building.<br>
                    <strong>Fees Schedule for Madina Weekend Madrasa 2021 – 2022 <br></strong>
                    Annual fees (46 weeks of teaching):  £540 (paid termly)<br>
                    One off admin/registration fee: £20 (for new students only)<br>
                    Fees will be collected in 3 tranches;<br>
                    September: £180<br>
                    December: £180<br>
                    April: £180<br>
                    Receipts are provided upon payment.</p>
                <ul class="modal-popup__cat">
                    <li></li>
                </ul>
            </div>

            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdZjOT87dxyFHmq1lorILmj50Re2NxLxHJUvBxkldV4ttLngg/viewform?usp=sf_link" target="_blank" class="modal-popup__details">Application Form</a>
        </div> <!-- end modal-01 -->

        <div id="modal-02" class="modal-popup lity-hide">
            <img src="{% static 'images/portfolio/gallery/adults.jpg' %}" alt="" />

            <div class="modal-popup__desc">
                <h5>Adult Classes</h5>
                <p>Free Adult Tajweed classes are available on Saturdays after Asr.</p>
                <ul class="modal-popup__cat">
                    <li></li>
                    <li></li>
                </ul>
            </div>

            <a href="" class="modal-popup__details">Application Form</a>

           

        </div><!-- end modal-02 -->

       

    </section> <!-- end s-portfolio -->


        
    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>About Us</h2>
                <p class="desc"></p>
            </div>

            <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                <p class="lead">
               
                </p>
            </div>
        </div> <!-- end section-head -->

        <div class="row">
            <div class="column" data-aos="fade-up">
                <h4>Our Project</h4>
            </div>
        </div>

        <div class="row block-large-1-2 block-medium-1-2 block-mob-full process-block">

            <div class="column process" data-aos="fade-up">
                <h6>Madina Jame Masjid</h6>
                <img src="{% static 'images/masjid1.jpg'%}" alt="masjid"/>
                <!-- <img src="https://www.google.com/maps/uv?pb=!1s0x48760395e94d9f2d%3A0x85852857dedb5005!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipOdBs3tIwyQrbvUvM_B2R5n-y9Z6PanwJjckksL%3Dw520-h350-n-k-no!5smadina%20masjid%20-%20Google%20Search!15sCgIgARICEAE&imagekey=!1e10!2sAF1QipOdBs3tIwyQrbvUvM_B2R5n-y9Z6PanwJjckksL&hl=en#" alt="masjid" /> -->
                <p>
                Madina Jame Masjid is the first masjid to be established in the Isle of Dogs community in the year of 1991.
                The masjid serves a wide range of services from daily salah, children's madrasa, adult classes and it can cater for nikah.
                The masjid also serves the youth and elders alike with weekly lectures and programs.
                </p>
                
            </div>
   
            <div class="column process" data-aos="fade-up">
               <h6>Weekend Madrasa</h6>
               <img src="{% static 'images/masjid2.jpg'%}" alt="masjid"/>
                <p>
                Our weekend madrasa expanded to Madina Jame Masjid due to the influx of Muslim residents moving in. 
                The madrasa has helped cater for our local children as well as children from other regions.
        
                </p>
                
            </div>
        </div>
            </section>


    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Articles</h2>
                <p class="desc">Follow for our latest Articles and Fatawa</p>
            </div>
        </div> <!-- end section-head -->

        <!-- Blog Entries -->
        <div class="blog-entries">

        

    </section> <!-- end s-blog   -->

   
         </div> <!-- end process-block -->
         <section id="teachers" class="s-about target-section">

            <div class="row section-head">
                <div class="column large-3 medium-12" data-aos="fade-up">
                    <h2>Teachers</h2>
                    <p class="desc"></p>
                </div>
    
                <div class="column large-8 medium-12 align-x-right" data-aos="fade-up">
                    <p class="lead">
                    All our teachers have graduated from reputable Islamic seminaries and hold relevant qualifications.
                    Our teachers are experienced and well versed in different Islamic faculties ranging from Quran tafseer, Hadith, Aqeedah, Fiqh, Arabic language and other fields.
                    All our teachers are DBS checked.
                    </p>
                </div>
            </div> <!-- end section-head -->
    
            <div class="row">
                <div class="column" data-aos="fade-up">
                    <h4>Our Teachers</h4>
                </div>
            </div>

        <div class="row block-large-1-3 block-medium-1-3 block-tab-1-3 block-500-stack team-block">

            <div class="column team-member" data-aos="fade-up">
                <div class="team-member__pic">
                    <img src="{% static 'images/dummypic.jpeg'%}" 
                         srcset="" alt="Mufti Masum">
                </div>
                <div class="team-member__info">
                    <p class="team-member__name">
                        Mufti Muhammad Masum
                        <span>Management Team</span>
                    </p>
                    <ul class="team-member__social">
                        <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="column team-member" data-aos="fade-up">
                <div class="team-member__pic">
                    <img src="{% static 'images/dummypic.jpeg'%}" 
                         srcset="" alt="Shaykh Ali">
                </div>
                <div class="team-member__info">
                    <p class="team-member__name">
                        Shaykh Ali Akbar
                        <span>Management Team</span>
                    </p>
                    <ul class="team-member__social">
                        <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="column team-member" data-aos="fade-up">
                <div class="team-member__pic">
                    <img src="{% static 'images/dummypic.jpeg'%}" 
                         srcset="" alt="Shaykh Ali">
                </div>
                <div class="team-member__info">
                    <p class="team-member__name">
                        Shaykh Abdur Raheem
                        <span>Ustaadh</span>
                    </p>
                    <ul class="team-member__social">
                        <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

          

        </div> <!-- end team-block -->

    </section> <!-- end s-about -->

 <!-- testimonials
    ================================================== -->
    <section id="testimonials" class="s-testimonials">

        <div class="row section-head">
            <div class="column large-3 medium-12" data-aos="fade-up">
                <h2>Testimonials</h2>
                <p class="desc">What our Students are saying.</p>
            </div>

        </div> <!-- end section-head -->

            <div class="column testimonial-slider-outer">

                <div class="testimonial-slider" data-aos="fade-up">

                    <div class="testimonial-slider__slide">
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>Rez Karim</strong>
                                <span>Parent</span>
                            </cite>
                        </div>
                        <p>
                            Initially I sent my nephew to this weekend maktaab, Alhamdullilah I have seen so much progress in his learning due to the amazing teaching by the ustaadh. Masha allah
            
                            We never had the same learning ethos during our times when I was a kid, which was a shame. Khair, as I have seen this weekend establishment provide excellent quality learning which is centred around individual child learning capabilities, which is great for the child.
                            
                            I have now enrolled my neice to the weekend maktaab as well Alhamdullilah. Seeing her happy in an Islamic learning environment makes me proud. She is teaching me bit about Islam (through her innocent eyes) which benefits us all.
                            
                            
                            May Allah Continue to Bless the establishment and the teachers
                            
                            Ameen
                           
                        </p>
                    </div> <!-- end testimonials__slide -->

                    <div class="testimonial-slider__slide">
                        <div class="testimonial-slider__author">
                          
                            <cite class="testimonial-slider__cite">
                                <strong>Eshan Islam</strong>
                                <span>Student</span>
                            </cite>
                        </div>
                        <p>
                            Alhamdulillah, the classes here are very good. The syllabus is well structured. Children are progressing very well. The masjid is very spacious, and facilities are good. Will recommend.
                        </p>
                    </div> <!--end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <div class="testimonial-slider__author">
                         
                            <cite class="testimonial-slider__cite">
                                <strong>Mujib</strong>
                                <span>Student</span>
                            </cite>
                        </div>
                        <p>
                            Good weekend class with good progress, small classes and excellent value.

                        </p>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <div class="testimonial-slider__author">
                    
                            <cite class="testimonial-slider__cite">
                                <strong>Ayana Zuned</strong>
                                <span>Student</span>
                            </cite>
                        </div>
                        <p>
                            Very easy to learn and it is really fun. I am happy to read Quran and learn about Islam.
                        </p>
                    </div> <!-- end testimonials__slide -->
    
                   

                </div> <!-- end testimonial slider -->
                
            </div> <!-- end column -->

        </div> <!-- end row -->

    </section> <!-- end s-testimonials -->


    <!-- CTA
    ================================================== -->
    <section id='jobs' class="s-cta ss-dark">
        

        <div class="row heading-block heading-block--center" data-aos="fade-up">
            <div class="column">
                <h2 class="section-desc">
                    Current Vacancies
                </h2>
            </div>
        </div> <!-- end heading-block -->

        <div class="row cta-content" data-aos="fade-up">
            <div class="column">
                <p>
              We currently have no availbale vacancies
                </p>
<!-- 
                <a href="" class="btn h-full-width">Get Started</a> -->
            </div>
        </div> <!-- end ad-content -->

    </section> <!-- end s-cta -->

</section> <!-- end s-blog   -->

   
</div> <!-- end process-block -->

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact target-section s-dark">

        <div class="row section-head">
            <div class="column large-3 medium-12">
                <h2>Contact Us</h2>
                <p class="desc">Get in touch with us.</p>
            </div>
        </div> <!-- end section-head -->

        <div class="row s-contact__content">

            <div class="column large-7 medium-12">
                <h3 class="display-1">
                 For further enquiries or registration information, send us a message.
                </h3>

                <div class="s-contact__email-us">
                    <a href="{% url 'message' %}" class="btn btn--primary h-full-width">Let's Talk</a>
                </div>
                <div class="s-contact__email-us">
                    <a href="{% url 'application_form'%}" class="btn btn--primary h-full-width">Application Form</a>
                </div>
            </div>

            <div class="column large-4 medium-12 s-contact__info-blocks">
                <div class="row">
                    <div class="column large-12 medium-6 tab-12">
                        <div class="s-contact__info-block">
                            
                            <span class="s-contact__info-block-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 14c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.103 0 2 .897 2 2s-.897 2-2 2-2-.897-2-2 .897-2 2-2z"/><path d="M11.42 21.814a.998.998 0 001.16 0C12.884 21.599 20.029 16.44 20 10c0-4.411-3.589-8-8-8S4 5.589 4 9.995c-.029 6.445 7.116 11.604 7.42 11.819zM12 4c3.309 0 6 2.691 6 6.005.021 4.438-4.388 8.423-6 9.73-1.611-1.308-6.021-5.294-6-9.735 0-3.309 2.691-6 6-6z"/></svg>
                            </span>
        
                            <h5>Find us here</h5>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2420.9115060158965!2d4.7270671!3d52.6435118!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf9af6edfdfc4ac16!2sMadina%20Masjid%20Weekend%20Madrasa!5e0!3m2!1sen!2suk!4v1628172763967!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            <p>
                            Madina Jame Masjid <br>
                            248 Westferry Road <br>
                            Isle of Dogs <br>
                            E14 3AG <br>
                            
                            Opening Hours:<br>
                            (9:30am to 2:30pm Sat-Sun)
                            </p>
                           
                        </div> <!-- end s-contact__info-block -->
                    </div>

                    <div class="column large-12 medium-6 tab-12">
                        <div class="s-contact__info-block">
                            <span class="s-contact__info-block-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M17.707 12.293a.999.999 0 00-1.414 0l-1.594 1.594c-.739-.22-2.118-.72-2.992-1.594s-1.374-2.253-1.594-2.992l1.594-1.594a.999.999 0 000-1.414l-4-4a.999.999 0 00-1.414 0L3.581 5.005c-.38.38-.594.902-.586 1.435.023 1.424.4 6.37 4.298 10.268s8.844 4.274 10.269 4.298h.028c.528 0 1.027-.208 1.405-.586l2.712-2.712a.999.999 0 000-1.414l-4-4.001zm-.127 6.712c-1.248-.021-5.518-.356-8.873-3.712-3.366-3.366-3.692-7.651-3.712-8.874L7 4.414 9.586 7 8.293 8.293a1 1 0 00-.272.912c.024.115.611 2.842 2.271 4.502s4.387 2.247 4.502 2.271a.991.991 0 00.912-.271L17 14.414 19.586 17l-2.006 2.005z"/></svg>
                            </span>
        
                            <h5>Say hello</h5>
                            <p>
                            weekendmadrasa@<br>
                            madinamasjiddocklands.org.uk<br>
                            07369259958 <br>
                            07852872710
                            </p>
                        </div> <!-- end s-contact__info-block -->
                    </div>
                </div> <!-- end row -->
            </div> <!-- end s-contact__info-blocks -->

        </div> <!-- end s-contact__content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">
        <div class="row">
            <div class="column large-4 medium-6 w-1000-stack s-footer__social-block">
                <ul class="s-footer__social">
                    <li><a href="https://www.facebook.com/madinamadrasah" target="_blank" ><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
       

            <div class="column large-7 medium-6 w-1000-stack ss-copyright">
                <span>© All rights reserved Madina Masjid Weekend Madrasa 2022</span> 
                <span>© Copyright Kreative 2020</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div>

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
            </a>
            
        </div> <!-- end ss-go-top -->
    </footer>

{% endblock %}


