{% extends 'e-commerce/base.html' %} {% load static %} {% block content %}
<!-- Product -->
<!--
  This css code was adapted from below. It enables a filtering for different categories of products.
  W3schools.com. 2022. How To Filter Elements. [online]
Available at: <https://www.w3schools.com/howto/howto_js_filter_elements.asp>
[Accessed 24 March 2022]. -->
<style>
  .container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
</style>
<div class="bg0 m-t-23 p-b-140">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
          onclick="filterSelection('all')"
        >
          All Products
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          onclick="filterSelection('Books')"
        >
          Books
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          onclick="filterSelection('Bags')"
        >
          Bags 
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          onclick="filterSelection('Clothes')"
        >
          Clothes
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          onclick="filterSelection('Courses')"
        >
          Courses
        </button>

        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          onclick="filterSelection('Perfumes')"
        >
          Perfume
        </button>
      </div>
    </div>

    <div class="row isotope-grid">
      {% for items in items %}
      <div
        class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item filterDiv {{items.category}}"
      >
        <!-- Block2 -->

        <div class="block2">
          <div
            style="height: 20vw; width: 100%; object-fit: cover"
            class="block2-pic hov-img0"
          >
            <a href="{{items.get_absolute_url}}"
              ><img
                style="max-width: 100%; max-height: 100%"
                src="{{items.image.url}}"
                alt="IMG-PRODUCT"
            /></a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                {{items.title}}
              </a>

              <span class="stext-105 cl3">
                £{{items.price|floatformat:2}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a href="#" class="btn-addwish-b2 dis-block pos-relative">
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="{% static 'e-commerce/images/icons/icon-heart-01.png' %}"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="{% static 'e-commerce/images/icons/icon-heart-02.png' %}"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>


<!--
  This code was adapted from below. It enables a filtering for different categories of products.
  W3schools.com. 2022. How To Filter Elements. [online]
Available at: <https://www.w3schools.com/howto/howto_js_filter_elements.asp>
[Accessed 24 March 2022]. -->
<script>

filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

// Show filtered elements
function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {
      element.className += " " + arr2[i];
    }
  }
}

// Hide elements that are not selected
function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);
    }
  }
  element.className = arr1.join(" ");
}

// Add active class to the current control button (highlight it)
var btnContainer = document.getElementById("myBtnContainer");
var btns = btnContainer.getElementsByClassName("btn");
for (var i = 0; i < btns.length; i++) {
  btns[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>

{% endblock %}
