<!-- Code taken from
# GitHub. 2019. django-ecommerce/templates/scripts.html at master · justdjango/django-ecommerce. [online]
# Available at: <https://github.com/justdjango/django-ecommerce/tree/master/templates/scripts.html>
# [Accessed 25 March 2022] -->{% load static %}
  
<script type="text/javascript" src="{% static 'e-commerce/e-commerce/js/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'e-commerce/e-commerce/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'e-commerce/e-commerce/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'e-commerce/e-commerce/js/mdb.min.js' %}"></script>
<!-- Initializations -->
<script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>