
<!-- The backend features were implemented by the author, while adapting the front-end code to serve their project. The front end features such as CSS and UI were taken from: 
AdminLTE.IO. 2022. Free Bootstrap Admin Template - AdminLTE.IO. [online] Available at: <https://adminlte.io/>
[Accessed 24 February 2022]. -->

{% extends 'management/management_template/base_template.html' %}
{% block page_title %} 
Check Homework
{% endblock  %} 
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Check Homework</h3>
          </div>
         
            <div class="form-group" style="padding: 20px;">
           
                <label>Class</label>
                <select class="form-control" name=" class" id="classes">
                
                    {% for classes in classes %}
                    <option value ="{{classes.id}}">{{classes.title}}</option>
                    {% endfor %}
    
                </select>

            <div class='form-group'><label>Homework Date : </label><input type='date' name='date' 
                id='date' class='form-control'></div><div class='form-group'><div class='row'>

        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block" id="fetch_homework">Fetch Homework</button>
          </div>
          <div id="student_data" class="card-footer">

        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  </div>
</section>


{% endblock %}

{% block custom_js %}
<script>
//Add the current date on the date section.
let todaysdate = new Date();
let year = todaysdate.getFullYear();
let month = todaysdate.getMonth() + 1;
let day = todaysdate.getDate();
// In order to get the right format for the date, add 0 for one digit numbers.
if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;
//Edit the date to match the date in the database tables.
let today = year + "-" + month + "-" + day;
document.getElementById("date").value = today;

// The purpose of this function is so that the date searched for matches the date on the database. Homework on the database is stored on the monday of that week.
getMonday = d => {
  d = new Date(d);
  let day = d.getDay(),
   diff = d.getDate() - day + (day == 0 ? -6:1); // As day starts from Sunday and Sunday is day 0 '-6' will give the date for Monday. otherwise add 1.
  return new Date(d.setDate(diff));
}

// convert the date into the required format for database 
convert = str => {
  let date = new Date(str),
    month = ("0" + (date.getMonth() + 1)).slice(-2),
    day = ("0" + date.getDate()).slice(-2);
  return [date.getFullYear(), month, day].join("-");
} 


// The following code was adapted from 
// GitHub. 2022. student_management_system_part_11/staff_update_attendance.html at master ·
// hackstarsj/student_management_system_part_11. [online]
// Available at: <https://github.com/hackstarsj/student_management_system_part_11/blob/master/student_management_app/templates/staff_template/staff_take_attendance.html> 
// [Accessed 19 March 2022].

    $(document).ready(function(){
        $("#fetch_homework").click(function(){
            let classes=$("#classes").val()
            let dates =$("#date").val()
            dates = convert(getMonday(dates))
           
            $.ajax({
                url:"{% url 'get_homework' %}",
                type:'POST',
                data:{class:classes, date:dates},
            })
            .done(function(response){
                let json_data=JSON.parse(response);
                console.log(json_data)
                if(json_data.length > 0){
                    
                let div_data = '<div class="form-group"><div class="row"><div class="card-body table-responsive p-0"><table class="table table-hover text-nowrap">                <thead><tr><th scope="col">#</th><th scope="col">Subject</th ><th scope="col">Content</th><th scope="col">Audio</th><th scope="col" > </th><th scope="col" > </th ></tr></thead>'
                let i = 1
                for(key in json_data)
                {   // Check if audio files were included. N/A should be selected if no audio present.
                    if (json_data[key]["audio"] == "Not Applicable"){
                        div_data+='<tbody><tr><td>' + i +'</td><td class="form-check-label">'+json_data[key]["subject"]+'</td><td class="form-check-label">'+json_data[key]["content"]+'</td><td class="form-check-label">'+json_data[key]["audio"]+'</td></tr>'
                    }
                    else{
                    div_data+='<tbody><tr><td>' + i +'</td><td class="form-check-label">'+json_data[key]["subject"]+'</td><td class="form-check-label">'+json_data[key]["content"]+'</td><td class="form-check-label"><audio controls><source src="/media/'+json_data[key]["audio"]+'" type="audio/mp3"><source src="" type="audio/mpeg">Your browser does not support the audio element.</audio></td></tr>'}
                    i++
                }

                div_data += '</tbody></table> </div></div>'
                div_data+="</div></div>";
             
                $("#student_data").html(div_data);
                }
                else{
                    alert("no data found")
                }
              

            })
            .fail(function(){
                alert("Error in Fetching Student")
            })
        })
    })

   

   
                        


            
        
    
</script>
{% endblock custom_js %}