
<!-- Code taken from a Youtube tutorial
Ivy, D., 2022. GitHub - divanov11/mychat:
A video group video calling application using a Django backend with the Agora Web SDK. [online] GitHub. 
Available at: <https://github.com/divanov11/mychat> [Accessed 21 March 2022].
https://www.youtube.com/watch?v=Oxnz8Us1QAQ -->


{% extends 'video/main.html' %}
{% load static %}
{% block content %}

<main>
    <section id="room-name-wrapper">
        <p>Room Name: <span id="room-name"></span></p>
    </section>

    <section id="video-streams"></section>

    <section id="controls-wrapper">
        <div class="icon-wrapper">
            <img class="control-icon" id="mic-btn" src="{% static 'images/mic.png' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/camera.png' %}" />
        </div>

        <div class="icon-wrapper">
            <img class="control-icon" id="leave-btn" src="{% static 'images/exit.png' %}" />
        </div>
    </section>
</main>


<script type="text/javascript" src="{% static 'assets/AgoraRTC_N-4.8.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/streams.js' %}" ></script>
{% endblock content %}