

{% extends 'management/management_template/base_template.html' %}
{% block page_title %} 
Remove Student Application
{% endblock  %} 
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Remove Student Application</h3>
          </div>
          <form class="formlayout" action="" method="POST">
            <div class="form-group" style="padding: 20px;">
                {% csrf_token %}
            
                <p>Are you sure you want to delete "{{ object }}"?</p>
             <div>
              <input class="btn btn-success" type="submit" value="Save" />
              <a href="{% url 'manage_applications'%}" class="btn btn-danger">CANCEL</a>
            </div>
            </div>
            </form>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock  %}

