<!-- The backend features were implemented by the author, while adapting the front-end code to serve their project. The front end features such as CSS and UI were taken from: 
AdminLTE.IO. 2022. Free Bootstrap Admin Template - AdminLTE.IO. [online] Available at: <https://adminlte.io/>
[Accessed 24 February 2022]. -->
{% extends 'management/management_template/base_template.html' %}  
{% block page_title %} Manage Audio
{% endblock %} 
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Audio Details</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px">
                <input
                  type="text"
                  name="table_search"
                  class="form-control float-right"
                  placeholder="Search"
                />

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
 
                  <th scope="col">#</th>
                  <th scope="col" >Date</th >
                  <th scope="col" >Title</th >
                    <th scope="col" >Teacher</th >
                      <th scope="col" >Audio</th >
                        <th scope="col" >Description</th >
              
                  <th scope="col" > </th>
                  <th scope="col" > </th >
                </tr>
              </thead>
              <tbody>
                {% for s in classes_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ s.date }}</td>
                  <td>{{ s.title}}</td>
                  <td>{{ s.teacher}}</td>
                  <td><audio controls>
                    <source src="{{ s.audio.url}}" type="audio/mp3">
                    <source src="" type="audio/mpeg">
                  Your browser does not support the audio element.
                  </audio></td>
                  <td>{{ s.description}}</td>
                  <td><a href="{% url 'edit_audio' s.id %}"><button class="btn btn-outline-dark btn-lg ">Edit</button></a></td> 
                  <td><a href="{% url 'audiodelete' s.id %}"><button class="btn btn-outline-dark btn-lg ">Delete</button></a></td>
              
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->
{% endblock main_content %}
