<!--The following code was adapted from 
GitHub. 2022. student_management_system_part_11/staff_update_attendance.html at master ·
hackstarsj/student_management_system_part_11. [online]
Available at: <https://github.com/hackstarsj/student_management_system_part_11/blob/master/student_management_app/templates/staff_template/staff_update_attendance.html> 
[Accessed 19 March 2022]. -->
{% extends 'management/management_template/base_template.html' %}
{% block page_title %} 
Update Attendance
{% endblock  %} 
{% block main_content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Check Attendance</h3>
          </div>
                     <div class="form-group" style="padding: 20px;">
           
                <label>Class</label>
                <select class="form-control" name=" class" id="classes">
                
                    {% for classes in classes %}
                    <option value ="{{classes.id}}">{{classes.title}}</option>
                    {% endfor %}
    
                </select>
            <div class='form-group'><label>Attendance Date : </label><input type='date' name='date' value="fsd" 
                id='date' class='form-control'></div><div class='form-group'><div class='row'>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-block" id="fetch_student">Fetch Students</button>
          </div>
          <div id="student_data" class="card-footer">

        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
  </div>
</section>
<!-- /.content -->
{% endblock  %}

{% block custom_js %}
<script>

let todaysdate = new Date();
                    let day = todaysdate.getDate();
                    let month = todaysdate.getMonth() + 1;
                    let year = todaysdate.getFullYear();
                    if (month < 10) month = "0" + month;
                    if (day < 10) day = "0" + day;
                    
                    let today = year + "-" + month + "-" + day;
                    
                    document.getElementById("date").value = today;


                    
    $(document).ready(function(){
        $("#fetch_student").click(function(){
            var classes=$("#classes").val()
            var dates =$("#date").val()
           

            $.ajax({
                url:"{% url 'get_students' %}",
                type:'POST',
                data:{class:classes, date:dates},
            })
            .done(function(response){
                var json_data=JSON.parse(response);
                console.log(json_data)
                if(json_data.length > 0){
                
                var div_data = '<div class="form-group"><div class="row"><div class="card-body table-responsive p-0"><table class="table table-hover text-nowrap"><thead><tr><th scope="col">#</th><th scope="col">Student</th ><th scope="col">Attendance</th><th scope="col" > </th><th scope="col" > </th ></tr></thead>'
                let i = 1
                for(key in json_data)
                {
                    
                    div_data+='<tbody><tr><td>' + i +'</td><td   class="form-check-label">'+json_data[key]["name"]+'</td><td class="form-check">'                  
                    
                    if (json_data[key]["status1"] == true){
                    div_data+= '<input type="checkbox" checked="checked" name="student_data[]" value='+json_data[key]["id"]+'></td></tr>'
                    }
                    else{
                        div_data+= '<input type="checkbox"  name="student_data[]" value='+json_data[key]["id"]+'></td></tr>'
                    }
                    i++
                }

                div_data += '</tbody></table> </div></div>'
                div_data+="</div></div>";
                div_data+="<div class='form-group'>";
                div_data+="<button id='save_attendance' class='btn btn-success btn-block' type='button'>Update Attendance </button>";
                div_data+="</div>";

                $("#student_data").html(div_data);
            }
            else{
                alert("no data found")
            }
              
            })
            .fail(function(){
                alert("Error in Fetching Student")
            })
        })
    })

    $(document).on("click","#save_attendance",function(){

$(this).attr("disabled","disabled")
$(this).text("Saving Attendance Data...")
var student_data=$("input[name='student_data[]']").map(function(){
        if($(this).is(":checked")){
            return {"id":$(this).val(),"status":1};
        }
        else{
            return {"id":$(this).val(),"status":0};
        }
 }).get()

var classes=$("#classes").val();
var dates =$("#date").val()


console.log(student_data)
student_data=JSON.stringify(student_data)

$.ajax({
        url:'{% url "update_attendance_data" %}',
        type:'POST',
        data:{student_ids:student_data,date:dates, classes: classes},
    })
    .done(function(response){

        if(response=="OK"){
            alert("Attendance Save")
        }
        else{
            alert("Error in Saving Data")
        }
        location.reload()
    })
    .fail(function(){
        alert("Error in Saving Student")
    })
})    
</script>
{% endblock custom_js %}    
